html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: helvetica, "helvetica neue", verdana, sans-serif;
	font-size: 90%;
}

body * {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #4BB2D6;
}

a:hover {
	text-decoration: underline;
}

h2 {
	font-size: 200%;
}

#header {
	position: absolute;
	top: 10px;
	left: 25px;
	z-index: 5;
	background: white;
	padding: 2px 4px 2px 6px;
}

#header img {
	float: center;
	height: 42px;
}

#index img {
	float: center;
	height: 72px;
}


#fieldList {
	position: absolute;
	top: 10px;
	left: 150px;
	z-index: 5;
}

.field {
	padding: 8px 8px 8px 8px;
  float: left;
}

.field a {
	text-decoration: none;
	color: #FFFFFF;
}

.field a:hover {
  text-decoration: underline;
}

.menu {
	color: #FFFFFF;
	margin-top: 0.35em;
}

#ciidlogo {
	margin-left: 2em;
}

#clusters, #map_container {
	height:100%;
  width: 60%;
	float: left;
}

#clusters .content {
	height: 100%;
}

#clusters_filters {
	margin: 100px 0 0 30px;
	float: left;
}

#clusters_graph {
	width: 400px;
	float: left;
	margin: 100px 0 0 50px;
}

#map_canvas {
    height:100%;
}

#sideview {
	xposition: absolute;
	xright: 0;
	float: right;
	height: 100%;
	min-height:100%;
	background: #FAFAFA;
	border-left: 1px solid #AAAAAA;
 	width: 35%;
	overflow-x: hidden;
	overflow-y: scroll;
	text-overflow: ellipsis;
}

#sideview h2 {
	margin: 0.25em 0;
}

#sideview .caseDetails {
	padding: 1em;
}

#survey_container {
	position: relative;
	top: 75px;
	left: 100px;
	background: white;
	padding: 8px 10px 8px 0px;
}

#list_container {
	position: relative;
	top: 65px;
	left: 25px;
	background: white;
	padding: 8px 10px 8px 8px;
}


.caseDetails dt {
	font-weight: bold;
	margin: 0.75em 0 0.25em 0;
}

.caseDetails dd {
	display: block;
	width:100%;
	overflow-x: hidden;
	text-overflow: ellipsis;
	overflow-y: auto;
}

.caseDetails .barContainer {
	position: relative;
}

.caseDetails .barContainer .low {
	float: left;
	font-size: 80%;
}

.caseDetails .barContainer .hi {
	float: right;
	font-size: 80%;
}

.caseDetails .value {
	position: absolute;
	left: 0;
	top: 1.75em;
	color: #000;
	font-size: 90%;
	display: none;
}

.caseDetails .bar {
	background: #DDD;
	width: 100%;
	height: 0.5em;
	float: left;
	margin-top: 0.25em;
}

.caseDetails .barvalue {
	background: #00CD7E;
	height: 0.5em;
}

.caseDetails .text {
	line-height: 125%;
}

.caseDetails .links {
	line-height: 125%;
}

.caseDetails dd {
  margin-bottom: 1em;
}

.caseDetails li {
  margin-top: 0.5em;
}

.caseDetails li input {
  margin-right: 0.5em;
}



.caseDetails p {
  margin: 0.25em 0 0.5em 0;
}

.caseDetails td {
  padding: 0.25em;
}

#cases_list {
  width: 15%;
  height: 100%;
  float: right;
	overflow-x: hidden;
	overflow-y: scroll;
	text-overflow: ellipsis;
  border-left: 1px solid #AAA;
  background: #FAFAFA;
}

#cases_list dl {
	border-bottom: 1px solid #AAAAAA;
	display: block;
	xbackground: #FFFFFF;
	cursor: pointer;
}

#cases_list dd, #cases_list dt {
  text-overflow: ellipsis;
}

#cases_list .caseDetails {
  margin: 0;
  padding: 0;
  background: #FFF;
}

#cases_list dl:hover {
  xbackground: rgba(0, 205, 126, 0.75);
  color: white;
}

#cases_list .selected dl {
	xbackground: rgba(0, 205, 126, 0.75);
	color: white;
}

#cases_list dt {
	margin: 0;
	padding: 5px 0 0 5px;
}

#cases_list dd {
	padding: 0 0 5px 5px;
  margin: 0;
  width: 90%;
}


.infowindow {
    width: 200px;
    color: #777777;
    font-family:Arial, Helvetica, sans-serif;
}

.infowindow #title {
    font-size: 12px;
    font-weight: bold;
    padding: 0 0 0.5em 0;
}

.infowindow #name {
    font-size: 10px;
    padding: 0 0 0.5em 0;
}

.infowindow #place {
    font-size: 10px;
    padding: 0 0 0.5em 0;
}

.center {
	width:100%;
	position:absolute;
	display:block;
	top:45%;
	left:25%
}

.surveybox {
	width: 100px;
	height: 60px;
}

.field {
	top: 10px;
	height: 33px;
	width: 100px;
	z-index: 5;
	padding: 8px 8px 8px 8px;
	border: 1px black;
}

.field a {
	text-decoration: none;
	color: #FFFFFF;
}

.field h2 {
	text-align: center;
}

.list-title {
    font: 12px sans-serif;
    font-weight: bold;
    vertical-align: top;
		text-align: left;
}

.list-element {
    font: 11px sans-serif;
    vertical-align: top;
    text-align: left;
}

#list_container table {
    table-layout: fixed;
    width: 100%;
}

#list_container td {
  overflow: hidden;
	width: 90px;
}

.buttonLink {
  font-weight: bold;
}

.right {
  float: right;
}

h3 {
  margin-top: 1.5em;
}

#loader {
  position: absolute;
  top: 5px;
  right: 20px;
}



