html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #FFFFFF;		
	font-family: helvetica, "helvetica neue", verdana, sans-serif;	
	font-size: 90%;		
}

body * {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #00CD7E;
}

a:hover {
	text-decoration: underline;
}

h2 {
	font-size: 200%;
}

#header {
	position: absolute;
	top: 2em;
	left: 2em;
}

#ciidlogo {
	margin-left: 2em;
}

#clusters {
	height:100%;
	float: left;	
}

#clusters .content {
	height: 100%;
}

#clusters_filters {
	margin: 100px 0 0 30px;
	float: left;
}

#clusters_graph {
	width: 400px;
	float: left;
	margin: 100px 0 0 50px;
}

#sideview {
	xposition: absolute;
	xright: 0;
	float: right;
	height: 100%;
	min-height:100%;
	background: #FAFAFA;
	border-left: 1px solid #AAAAAA;
 	width: 350px;
	overflow-x: hidden;
	overflow-y: scroll;
	text-overflow: ellipsis;
}

#sideview h2 {
	margin: 0.25em 0;
}

#sideview .caseDetails {
	padding: 1em;	
}

.caseDetails dt {
	font-weight: bold;
	margin: 0.75em 0 0.25em 0;
}

.caseDetails dd {
	display: block;
	width:100%;
	overflow-x: hidden;
	text-overflow: ellipsis;
	overflow-y: auto;
}

.caseDetails .barContainer {
	position: relative;
}

.caseDetails .barContainer .low {
	float: left;
	font-size: 80%;
}

.caseDetails .barContainer .hi {
	float: right;
	font-size: 80%;	
}

.caseDetails .value {
	position: absolute;
	left: 0;
	top: 1.75em;
	color: #000;
	font-size: 90%;
	display: none;
}

.caseDetails .bar {
	background: #DDD;	
	width: 100%;
	height: 0.5em;
	float: left;
	margin-top: 0.25em;
}

.caseDetails .barvalue {
	background: #00CD7E;
	height: 0.5em;	
}

.caseDetails .text {
	line-height: 125%;
}

.caseDetails .links {
	line-height: 125%;
}