.infowindow {
    width: 400px;
    color: #777777;
    font-family:Arial, Helvetica, sans-serif;
}

.infowindow #title {
    font-size: 18px;
    font-weight: bold;
    padding: 0.5em 0 0.5em 0;
}

.infowindow #place {
    font-size: 12px;
    padding: 0 0 0 0;
}

.infowindow #label {
    font-size: 14px;
    font-weight: bold;
    padding: 0.5em 0 0.5em 0;
}

.infowindow #desc {
    font-size: 12px;
    padding: 0.5em 0 0.5em 0;
    width: 375px;
    float: left;
}

.infowindow #label0 {
    font-size: 11px;
    padding: 0.5em 0 0.5em 0;
    width: 60px;
    float: left;
}

.infowindow #label1 {
    font-size: 11px;
    padding: 0.5em 0 0.5em 0;
    width: 60px;
    float: right;
}

.infowindow #scale {
    width: 250px;
    padding: 0 60px 0 60px;
}


.mapwrap {
    padding: 0.5em 0px 0.5em 150px;
    float: middle;
    width: 1100px;
}

.map {
    width:1024px;
    height:750px
}

line.scale {
    stroke: #777777;
}

text.scale {
    font-size: 10px;
    color: #777777;
    font-family:Arial, Helvetica, sans-serif;
}

.WP5 {
    font: 36px sans-serif;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}

.row  {
    margin: 5px 5px 50px 5px;
}

.cell {
        width: 400px;
        height: 250px;
        vertical-align: top;
}
.fig {
    margin: 5px 5px 5px 5px;
}

.desc {
    font: 10px sans-serif;
    margin: 5px 5px 5px 5px;
    font: 12px sans-serif;
}

.subtitle {
    font: 15px sans-serif;
    margin: 5px 5px 5px 5px;
}

.title {
    font: 18px sans-serif;
    font-weight: bold;
    margin: 5px 5px 5px 5px;
}

.list-title {
    font: 12px sans-serif;
    font-weight: bold;
    vertical-align: top;
}

.list-element {
    font: 11px sans-serif;
    vertical-align: top;
    text-align: left;
}

.bar  {
    font: 10px sans-serif;
}

.bar rect {
    fill: #777;
    stroke: #003; stroke-width: .5px;
}